<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Imagens Geradas</title>
</head>
<body>
  <h2>Imagens Processadas</h2>
  <ul>
    {% for imagem in imagens %}
      <li>
        <a href="{{ imagem.url }}" target="_blank">{{ imagem.nome }}</a><br>
        <img src="{{ imagem.url }}" width="200"><br><br>
      </li>
    {% endfor %}
  </ul>
  <h2>Baixar todas as imagens em um arquivo ZIP:</h2>
    <a href="{{ zip_url }}" download>Clique aqui para baixar o ZIP</a>
  <a href="/">Voltar</a>
</body>
</html>
